.idea/
__pycache__/
*.pyc
*.csv
*.xlsx
*.json
.env
.env.local
*.key
venv/
.venv/
env/
ENV/
.ipynb_checkpoints/
*.py[cod]
*$py.class
*.sqlite3
*.db
ehthumbs.db
raw_data/
.ssh/
.DS_Store
Thumbs.db
raw_data/
Desktop.ini
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.pub
*.ssh